
        body{
            margin:0;
            font-family: Arial;
        }

        .cart-container{
            width: 80%;
            margin: 40px auto;
            background: rgba(255,255,255,0.9);
            padding: 20px;
            border-radius: 8px;
        }

        h2{
            text-align:center;
            margin-bottom:20px;
        }

        table{
            width:100%;
            border-collapse: collapse;

        }

        table th, table td{
            border:1px solid black;
            padding:12px;
            text-align:center;
            font-size:16px;
        }

        table th{
            background:black;
            color: blue ;
        }

        .remove-btn{
            background:red;
            color:white;
            border:none;
            padding:6px 12px;
            cursor:pointer;
            border-radius:5px;
            font-size:14px;
        }

        .total{
            margin-top:20px;
            text-align:center;
            font-size:20px;
            font-weight:bold;
        }

        .order-btn{
            display:block;
            margin:20px auto;
            padding:10px 20px;
            background:#ff6600;
            color:white;
            font-size:18px;
            border:none;
            cursor:pointer;
            border-radius:6px;
        }
