
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h3 {
    color: #000000;
}

body {
    background: #000000;
    color: rgb(230, 50, 50);
    line-height: 1.3;
}

header {
    background: #000850;
    padding: 20px;
}

header h1 {
    color: #fff;
    text-align: center;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #0370b8;
}

.hero {
    padding: 80px;
    background: url('images/hero.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 0px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    background: hsl(0, 0%, 100%);
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 20px;
}

footer {
    background: #111;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
}


/*Cart icon*/

.cart-icon {
    position: relative;
    font-size: 30px;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -12px;
    background: #ff4757;
    color: white;
    padding: 4px 8px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% { transform: scale(0.5); }
    100% { transform: scale(1); }
}

.shop {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    width: 250px;
    padding: 15px;
    border-radius: 15px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.item img {
    width: 100%;
    border-radius: 12px;
}

.title {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}

.price {
    color: #333;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #000850;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1f78b4;
}

/*login Btn*/

.login-btn {
    background: black;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.login-btn:hover {
    background: #444;
}

/* Toggle button style */
#darkModeBtn {
    background: transparent;
    border: 2px solid #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background-color: #1e1e1e;
}

.dark-mode a {
    color: #ffdd57; /* link color */
}
